.FetchedPosts {
  text-align: left;
  margin: 30px;
}

.FetchedPosts h1 {
  font-family: "Roboto";
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  color: #02133c;
}

.NoPosts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.NoPosts h1 {
  font-family: "Roboto";
  font-size: 36px;
  line-height: 42px;
  font-weight: 900;
  color: #02133c;
}

@media (max-width: 720px) {
  .FetchedPosts {
    margin: 15px;
  }
}

@media (max-width: 375px) {
  .FetchedPosts h1 {
    font-size: 30px;
  }

  .NoPosts h1 {
    font-size: 30px;
  }
}
