.FetchedPosts {
  text-align: left;
  margin: 60px;
}

.FetchedPosts h1 {
  font-size: 40px;
  font-weight: 700;
  margin-left: 7px;
}

.NoPosts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.NoPosts h1 {
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 720px) {
  .FetchedPosts {
    margin: 15px;
  }

  .FetchedPosts h1 {
    font-size: 35px;
  }

  .NoPosts h1 {
    font-size: 35px;
  }
}

@media (max-width: 375px) {
  .FetchedPosts h1 {
    font-size: 30px;
  }

  .NoPosts h1 {
    font-size: 30px;
  }
}
