.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.ButtonSign {
  width: 150px;
  height: 40px;
  border-radius: 2px;
  padding: 0px;
  cursor: pointer;
  margin-right: 7px;
}

.ButtonSubmit {
  width: 93px;
  height: 40px;
  border-radius: 2px;
  cursor: pointer;
}

.ButtonHome {
  width: 100px;
  height: 40px;
  border: 1px solid #ffffff;
  background: none;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  letter-spacing: 0.15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ButtonImpacts {
  width: 100px;
  height: 40px;
  border: 1px solid #ffffff;
  background: none;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  letter-spacing: 0.15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ButtonLogin {
  width: 100px;
  height: 40px;
  border: 1px solid #1d499c;
  background: #1d499c;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
}

.ButtonWebsite {
  width: 150px;
  height: 50px;
  background: #1d499c;
  border: none;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.15px;
  cursor: pointer;
  display: block;
  margin: 80px 90px 30px 90px;
}

.ButtonSave {
  width: 150px;
  height: 50px;
  background: #1d499c;
  border: none;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.15px;
  cursor: pointer;
  display: block;
  margin: 0px 90px 0px 90px;
}

@media (max-width: 375px) {
  .ButtonLogin {
    margin-left: 5px;
  }
  .ButtonWebsite {
    font-size: 10px;
    width: 80px;
    height: 30px;
    margin: 40px 45px 10px 45px;
  }

  .ButtonSave {
    font-size: 10px;
    width: 80px;
    height: 30px;
    margin: 0px 45px 0px 45px;
  }
}
