.Bar {
  display: flex;
  float: right;
}

.Login {
  width: 105px;
  height: 40px;
  background: #1d499c;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.15px;
  align-items: center;
  justify-content: center;
  margin: 35px 40px auto 15px;
}

.Login:hover {
  background: #1d499c;
}

.Home {
  width: 105px;
  height: 40px;
  border: 2px solid #ffffff;
  background: none;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.15px;
  align-items: center;
  justify-content: center;
  margin: 35px 0px auto auto;
}

.Home:hover {
  background: none;
}
