.Home {
  width: 100px;
  height: 40px;
  border: 1px solid #ffffff;
  background: none;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.15px;
  align-items: center;
  justify-content: center;
}

.Home:hover {
  background: none;
}

.Login {
  width: 100px;
  height: 40px;
  border: 1px solid #1d499c;
  background: #1d499c;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.15px;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.Login:hover {
  background: #1d499c;
}

@media (max-width: 375px) {
  .Login {
    margin-left: 5px;
  }
}
