.NavigationItem a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
}

@media (max-width: 375px) {
  .NavigationItem p {
    margin: 0px;
  }
}
