.Auth {
  display: flex;
  flex-direction: column;
}

.AuthBox {
  display: flex;
  flex-direction: column;
}

.Logo {
  display: flex;
  position: absolute;
  align-items: center;
  margin-left: 25px;
  top: 25px;
}

.Logo a {
  text-decoration: none;
}

.Logo img {
  width: 40px;
  height: 40px;
}

.Logo h1 {
  font-family: "Suez One";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 10px;
  margin: 0px;
}

.AuthBox {
  display: flex;
  width: 100%;
  min-height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.AuthBox h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 20px;
  color: #ffffff;
}

.AuthBox h2 {
  font-family: "Roboto";
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  color: darkgray;
  margin: 0px;
}

.authForm {
  width: 250px;
  height: 200px;
}

.authForm input {
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: none;
  font-family: "Roboto";
  font-size: 15px;
  letter-spacing: 1px;
  box-sizing: border-box;
}

.authForm input::placeholder {
  font-family: "Roboto";
  padding-left: 10px;
  letter-spacing: 1px;
  font-size: 15px;
}

.AuthButton {
  display: inline;
}

.authForm button {
  height: 55px;
  border: 0px;
  background: #1d499c;
  color: #ffffff;
  font-weight: bold;
}

.authForm button:hover {
  background: #ffffff;
  color: #1d499c;
}

@media (max-width: 375px) {
  .Logo h1 {
    display: none;
  }
}
