.AuthBox {
  background: #ffffff;
  width: 600px;
  height: 360px;
  justify-content: center;
  align-items: center;
}

.AuthTitle {
  display: flex;
  width: 480px;
  height: 45px;
  margin: 50px 52.5px 50px 52.5px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 36px;
  color: #02133c;
}

.AuthTitle img {
  width: 28px;
  height: 28px;
  margin-left: 320px;
}

.AuthError {
  width: 470px;
  height: 45px;
  margin: 0px 52.5px 0px 52.5px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 14px;
  color: darkgray;
}

.AuthInput input {
  width: 470px;
  height: 45px;
  margin: 0px 52.5px 10px 52.5px;
  padding-left: 14px;
  background: #f5f5f5;
  border-radius: 3px;
  border: none;
  font-family: "Roboto";
  color: #777777;
  font-size: 16px;
  letter-spacing: 0.15px;
}

.AuthButtons {
  text-align: right;
  width: 470px;
  height: 45px;
  margin: 10px 52.5px 10px 70px;
}

.AuthButtons button {
  width: 200px;
  height: 45px;
  border: none;
  background: #3d7bf7;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  border-radius: 2px;
}

@media (max-width: 375px) {
}
