.Logo {
  position: absolute;
  width: 1440px;
  height: 411px;
  left: -6px;
  top: 0px;
}

.Top {
  /* Rectangle 3 */
  position: absolute;
  width: 1440px;
  height: 410.02px;
  left: -6px;
  top: 0px;

  /* grays/gray0 */
  background: #000000;
  opacity: 0.8;
}

.TitleBox {
  position: absolute;
  width: 147px;
  height: 31px;
  left: 90px;
  top: 32px;
}

.Title {
  /* Better World */
  position: absolute;
  width: 147px;
  height: 31px;
  left: 90px;
  top: 32px;

  font-family: Suez One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;

  color: #ffffff;
}
