.Main {
  display: inline-block;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.Main header {
  display: block;
  font-weight: bold;
}

.Title {
  font-size: 3.5rem;
  margin-top: 1rem;
  text-shadow: 2.5px 2.5px gray;
}

.Main ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.Main li {
  display: inline-block;
  margin: 20px;
}

.Main a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.Main a:hover,
.Main a:active {
  color: gray;
}
