.container {
  width: 850px;
  height: 150px;
  text-align: center;
}

.searchTitle {
  width: 600px;
  height: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #ffffff;
}

/* .form {
  width: 620px;
  height: 40px;
  background: #ffffff;
  border-radius: 2px;
} */

input {
  width: 500px;
  height: 40px;
  border-color: none;
}

::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

button {
  width: 120px;
  height: 45px;
  background: #3d7bf7;
  color: #ffffff;
}

button:hover {
  background: #ffffff;
  color: #3d7bf7;
}
