.container {
  position: absolute;
  width: 829px;
  height: 123px;
  left: 299px;
  top: 172px;
}

.searchTitle {
  /* Show and support what you love */
  position: absolute;
  width: 583px;
  height: 56px;
  left: 299px;
  top: 172px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  /* identical to box height, or 156% */

  /* /Neutral/White */
  color: #ffffff;
}

::placeholder {
  font-size: 1.3rem;
  text-align: center;
}

button {
  position: absolute;
  width: 123px;
  height: 40px;
  left: 1005px;
  top: 255px;

  background: #3d7bf7;
}

button:hover {
  background: #ffffff;
  color: #3d7bf7;
}

.error {
  color: #ff5a5f;
  text-align: center;
  font-size: 2rem;
}
