.MyPage {
  display: flex;
  flex-direction: column;
  height: 90px;
  background-image: url("/Banner.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.Logo {
  display: flex;
  position: absolute;
  align-items: center;
  margin-left: 25px;
  top: 25px;
}

.Logo a {
  text-decoration: none;
}

.Logo img {
  width: 40px;
  height: 40px;
}

.Logo h1 {
  font-family: "Suez One";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 10px;
  margin: 0px;
}

.pageTitle h1 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
  margin: 90px 0px 0px 30px;
}

@media (max-width: 375px) {
  .Logo h1 {
    display: none;
  }
}
