.Post {
  width: 330px;
  height: 370px;
  overflow: scroll;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 10px 7px;
  font-family: "Roboto";
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.Post:hover,
.Post:focus,
.Post:active {
  transform: scale(1.04);
}

.PostImage {
  width: 330px;
  height: 160px;
}

.PostButtons {
  position: absolute;
}

.Post h2 {
  color: black;
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  margin: 25px auto 0px 0px;
}

.Post small {
  font-size: 14px;
  text-align: left;
}

.Post a {
  text-decoration: none;
  color: inherit;
}

.Post ul {
  padding-left: 15px;
  text-align: left;
  margin: 13px auto;
  padding-right: 10px;
  font-family: "Roboto";
  font-size: 16px;
  color: #4b4b4b;
}

.Ribbon {
  position: absolute;
  background: none;
  border: none;
  width: 24px;
  height: 32px;
  padding: 0px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}

@media (max-width: 375px) {
}
