.Post {
  background: #fff;
  width: 330px;
  height: 330px;
  overflow: scroll;
  box-shadow: 0px 5px 5px 0px gray;
  margin: 10px 5px;
  font-family: "Roboto";
  display: inline-block;
}

.Post h2 {
  font-size: 20px;
  text-align: left;
  margin: 5px auto 0px 0px;
}

.Post small {
  font-size: 12px;
  font-style: italic;
  text-align: left;
}

.Post a {
  text-decoration: none;
  color: inherit;
}

.Post a:hover {
  color: gray;
}

.Post ul {
  padding-left: 15px;
  text-align: left;
  margin: 13px auto;
  padding-right: 10px;
}

@media (max-width: 375px) {
  .Post {
    background: #fff;
    width: 175px;
    height: 150px;
  }

  .PostImage {
    height: 70px;
    width: 175px;
  }

  .Post h2 {
    font-size: 12px;
    margin: 3px 0px 0px 0px;
  }

  .Post small {
    font-size: 6px;
    font-style: italic;
    text-align: left;
    color: black;
  }

  .Post ul {
    font-size: 8px;
    padding-left: 8px;
    text-align: left;
    margin: 5px auto;
    padding-right: 8px;
  }
}
